<div class="container-fluid">
  <div class="row">
    <div class="col-xs-6">
      <h3> Stock & Inventory </h3>
    </div>
    <div class="col-xs-6">
      <div align="right">
        <br>
        <a href= "dashboard/investigate_inventory" class="btn btn-default btn-sm">Study By-SKU Inventory</a>
        <button class="btn btn-default btn-sm">Update via CSV</button>
        <%= link_to "New Product", new_product_description_path, class: "btn btn-default btn-sm" %>
      </div>
    </div>
  </div>
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Product Name</th>
            <th>Product Category</th>
            <th>Stocks Available</th>
            <th>Average Daily Demand (Past 5 Days)</th>
            <th>Low Stock Level?</th>
          </tr>
        </thead>
      <tbody>
        <% @product_descriptions.each do |product| %>
          <tr>
            <td><%= product.name %></td>
            <td><%= product.product_category.category %></td>
            <td><%= @stock_level_index[product.name] %> </td>
            <td><%= @avg_sales[product.name].round(2) %></td>
            <td>
              <span class="text-danger"><%= "CRITICAL" if (@stock_level_index[product.name]) < @avg_sales[product.name] * 3 %></span> 
              <%= (link_to "Replenish Now >", "#", class: "btn btn-sm btn-danger" ) if (@stock_level_index[product.name]) < @avg_sales[product.name] * 3  %> 
              <span class="text-danger"><%= "YES" if (@stock_level_index[product.name] < @avg_sales[product.name] * 4) && (@stock_level_index[product.name] > @avg_sales[product.name] * 2) %></span>
              <%= (link_to "Replenish Now >", "#", class: "btn btn-sm btn-warning" ) if (@stock_level_index[product.name] < @avg_sales[product.name] * 4) && (@stock_level_index[product.name] > @avg_sales[product.name] * 2)  %>
              <span class="text-success"><%= "NO" if (@stock_level_index[product.name]) > @avg_sales[product.name] * 3 %></span>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
