<div class="container-fluid">
   <div class="row">
      <div class="col-xs-6">
         <h3> New Product </h3>
      </div>
      <div class="col-xs-6" align="right">
         <br>
         <a href= "/dashboard" class="btn btn-info btn-sm">Back to Dashboard</a>
      </div>
   </div>

   <div class="row">

      <div class="col-xs-4" align="justify">
         <h4> Product Details </h4>
         <p> Enter your product name, type and supplier details to set up your products. </p>
         <p> You can also add tags to help searching and reporting on this product later.</p>

         <br>
         <br>
         <br>
         <br>
         <h4>Initial Values</h4>
         <p>Set up the initial stock levels and values of your product here as well as the basic pricing</p>
         <p>This information is then used to ensure accurate cost pricing and reporting in the future</p>
         <p>You can always change this in the future, so don't worry!</p>
      </div> 

      <div class="col-xs-2">
      </div> 

      <div class="col-xs-6">
         <%= form_for @product_description do |f| %>
         <!-- add error handling here, which all all organized under ONE div class which is "alert alert-danger"-->
         <!-- add blocks in lieu of the divs here... where it calls class 'form-group has-error' if there's an error and 'form-group' if there's no error.. use the helper method here where it takes a list of errors and a block-->

            <%= f.label :product_name %>
            <%= f.text_field :name, class: 'form-control' %>

            <%= f.label :description %>
            <%= f.text_area :description, class: 'form-control' %>
            <div class="form-group">
               <%= f.label :product_category_id, 'Category' %>
               <%= f.select :product_category_id, array_of_arrays_categories, {include_blank: true}, class: 'form-control' %>
            </div>

            <div class="form-group" style="display:none;" id="pop_out_form">
               <%= f.fields_for :product_category do |pc| %>
                  <%= pc.label :category %>
                  <%= pc.text_field :category, class: 'form-control' %>
               <% end %>
            </div>

            <%= f.label :sku_number %>
            <%= f.text_field :sku, class: 'form-control' %>

            <%= f.label :initial_stock_level %>
            <%= f.text_field :initial_stock_level , class: 'form-control' %>  

            <%= f.label :initial_retail_price %>
            <%= f.text_field :def_retail_price , class: 'form-control' %>

            <%= f.label :initial_wholesale_price %>
            <%= f.text_field :def_wholesale_price , class: 'form-control' %>

            <%= f.label :initial_purchase_price %>
            <%= f.text_field :def_purchase_price , class: 'form-control' %> 

            <br>
            <%= f.submit "Save", class: 'btn btn-success btn-sm' %>

         <% end %>
      </div>

   </div>

</div>