<% if flash[:notice] %>
    <div class='alert alert-success'>
      <button type='button' class='close' data-dismiss='alert'>&times;</button>
      <%= flash[:notice] %>
    </div>
  <% elsif flash[:error] %>
    <div class='alert alert-danger'>
      <button type='button' class='close' data-dismiss='alert'>&times;</button>
      <%= flash[:error] %>
    </div>
  <% elsif flash[:alert] %>
    <div class='alert alert-warning'>    
      <button type='button' class='close' data-dismiss='alert'>&times;</button>
      <%= flash[:alert] %>
    </div>
  <% end %>


<h1 align="center" class="jumbotron", style="padding: 5px; background-color: #F0F0F0; margin: 0px"> Investigate By-SKU Inventory  </h1>
<div class="container-fluid" style="background-color: #F8F8F8 ">

<form class="navbar-form" role="search">
<%= form_tag dashboard_investigate_inventory_path, method: :get do %>
  <p>
    <%= text_field_tag :query, params[:query], class: "form-control" %>
    <%= submit_tag "Search", name: nil, class: "btn btn-default" %> <br>
    <small><%= "Note: This demo has \"banana\" and \"apple\". Try searching for it!" %></small>
  </p>
<% end %>
</form>
<div class="row">
  <div class="col-md-5">
  <br>
  <br>
  <br>
  <b><%= "Value Metrics" %><br></b>
  <%= "Total Profit for #{@product_descriptions.pluck(:name)[0]}s: $#{@cumu_profit_data.values.last.round(2)}" %><br>
  <%= "Total Revenue for #{@product_descriptions.pluck(:name)[0]}s: $#{@cumu_rev_data.values.last.round(2)}" %><br>
  <%= "Total Expenses for #{@product_descriptions.pluck(:name)[0]}s: $#{@cumu_cost_data.values.last.round(2)}" %><br>
  <br>
  <b><%= "Volume Metrics" %><br></b>
  <%= "Total Units Sold for #{@product_descriptions.pluck(:name)[0]}s: #{@cumu_sold.last ? @cumu_sold.last.round(0) : 0} Units" %><br> <!-- if/then here 'cause it throws nil if you create a new product -->
  <%= "Total Units Purchased for #{@product_descriptions.pluck(:name)[0]}s: #{@cumu_purch.last ? @cumu_purch.last.round(0) : 0} Units" %><br>
  <br>
  <b><%= "Inventory Metrics"%><br></b>
  <%= "Current Stock Level for #{@product_descriptions.pluck(:name)[0]}s: #{@stock_level.last} Units" %><br>
  <%= "Days on Hand before Stock Depletion for #{@product_descriptions.pluck(:name)[0]}s: #{@days_on_hand.round(0)} Day(s)" %><br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  </div>
  <div class="col-md-7">
    <h3 align="center">Profit Over Time for <%="#{@product_descriptions.pluck(:name)[0]}s (In USD)"%></h3>
          <%= line_chart [
            {name: "Profit", data: @cumu_profit_data },
            {name: "Revenue", data: @cumu_rev_data},
            {name: "Cost", data: @cumu_cost_data }
          ], 
          {"library":
                {
                  title: "Placeholder",
                "hAxis":{"title":"Date","gridlines":
                    {"count":3,"color":"#CCC"},"format":"dd/MM/yy"},
                "vAxis":{"title":"Sales in USD","gridlines":
                    {"color":"#CCC"}}
                }, "discrete": true} %>
    <div class="row">
      <div align="right">
        <%= (link_to "Replenish #{@product_descriptions.pluck(:name)[0]}s Now", "#", class: "btn btn-success btn-sm" ) if (@days_on_hand < 3) %>
        <%= (link_to "No need to replenish #{@product_descriptions.pluck(:name)[0]}s Now", "#", class: "btn btn-default btn-sm disabled" ) if (@days_on_hand > 2) %>
        <a href= "/" class="btn btn-default btn-sm">Back to Dashboard</a>
      </div>
    </div>
  </div>
  <br>
  <br>
  </div>
</div>