<h1 align="center" class="jumbotron", style="padding: 5px; background-color: #F0F0F0; margin: 0px"> Dashboard </h1>
  <div class="container-fluid" style="background-color: #F8F8F8 ">
    <div class="row">
    <div class="col-xs-6">
      <h3 align="center">Profit Over Time (In USD)</h3>
      <%= line_chart [
        {name: "Profit", data: @cumu_profit_data },
        {name: "Revenue", data: @cumu_rev_data},
        {name: "Cost", data: @cumu_cost_data }
      ] %>
        <div class="row">
          <div class="col-xs-9">
            <br>
            <p align="left"> <%= "All-Time Revenue: $#{@cumu_rev_data.values.last.round(2)}" %> | <%= "All-Time Profit: $#{@cumu_profit_data.values.last.round(2)}" %> </p>
          </div>
          <div class="col-xs-3">
            <div align="right">
              <a href= "#" class="btn btn-default btn-sm btn-block">Bill Sales</a>
              <a href= "#" class="btn btn-default btn-sm btn-block">Build Stocks</a>
            </div>
          </div>
      </div>
    </div>

    <div class="col-xs-6">
      <h3 align="center">Stock Level Over Time (In Units)</h3>
      <%= column_chart [
        {name: "Stock Level", data: @stock_level_data } 
      ] %>
      <div class="row">
        <div class="col-xs-7">
          <br>
          <p align ="left"><%= "Average Stock Level per SKU: #{(@latest_stock_level / 2).round(0)} Units" %></p>
        </div>
        <div class="col-xs-5">
          <div align="right">
            <br>
            <a href= "dashboard/investigate_inventory" class="btn btn-success btn-sm btn-block">Study By-SKU Inventory</a>
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>