<div class="container-fluid">
   <div class="row">
      <div class="col-xs-6">
         <h3> Sales Order - New </h3>
      </div>
      <div class="col-xs-6" align="right">
         <br>
         <a href= "/" class="btn btn-default btn-sm">Back to Dashboard</a>
      </div>
   </div>

   <div class="row">
    <%= form_for @sales_line_item do |f| %>
      <div class="col-xs-4">

        <%= f.fields_for :sales_order do |so| %>

          <%= so.label :customer_id, "Bill To:" %>
          <%= so.select :customer_id, array_of_arrays_customers, {}, class: 'form-control' %>

      </div> 

      <div class="col-xs-4">
          <%= so.label :sales_order_number %>
          <%= so.text_field :so_number, class: 'form-control' %>
        <% end %>

      </div> 

      <div class="col-xs-4">

      </div>

   </div>

   <div class="row">
    <br>
    <div class="col-xs-12 well">
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <%= f.fields_for :product_description do |pd| %>
            <tr>
              <th><%= pd.label :product_description_id, "Product Name:" %></th>
              <th><%= f.label :units_sold, "Quantity:" %></th>
              <th><%= f.label :retail_price, "Retail Price:" %></th>
            </tr>
          </thead>
        <tbody>
            <tr>
              <td><%= pd.select :product_description_id, array_of_arrays_products, {}, class: 'form-control' %></td>
              <td><%= f.text_field :units_sold, class: 'form-control' %> </td>
              <td><%= f.text_field :price, class: 'form-control' %> </td>
            </tr>
          </tbody>
          <% end %>
        </table>
      </div>
    </div>
   </div>

   <div class="row">
    <div class="col-xs-12" align="right">

     <br>

     <%= f.submit "Create Sales Order", class: 'btn btn-success btn-sm' %>

     <% end %>

    </div>

   </div>

</div>