<% if flash[:notice] %>
    <div class='alert alert-success'>
      <button type='button' class='close' data-dismiss='alert'>&times;</button>
      <%= flash[:notice] %>
    </div>
  <% elsif flash[:error] %>
    <div class='alert alert-danger'>
      <button type='button' class='close' data-dismiss='alert'>&times;</button>
      <%= flash[:error] %>
    </div>
  <% elsif flash[:alert] %>
    <div class='alert alert-warning'>    
      <button type='button' class='close' data-dismiss='alert'>&times;</button>
      <%= flash[:alert] %>
    </div>
  <% end %>

<div class="container-fluid">
  <div class="row">
    <div class="col-xs-6">
      <h3> Sales Order - #<%= @sales_order.so_number %> </h3>
    </div>
    <div class="col-xs-6">
      <div align="right">
        <br>
        <%= link_to "Back to Sales Order Index", sales_orders_path, class: "btn btn-default btn-sm" %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-8">
      <p><b> Bill To: </b> <%= @sales_order.customer.company_name %>  </p>
      <p> <b> Address: </b> <%= @sales_order.customer.address %></p>
      <p><%= @sales_order.customer.city %>, <%= @sales_order.customer.region %> </p>
      <p><%= @sales_order.customer.country %> </p>
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Product Name</th>
                <th>Quantity Sold</th>
                <th>Retail Price </th>
                <th>Total</th>
              </tr>
            </thead>
          <tbody>
            <% @sales_order.sales_line_items.each do |li| %>
              <tr>
                <td><%= li.product_description.name %></td>
                <td><%= li.units_sold %></td>
                <td><%= li.price %> </td>
                <td><%= "$" + " #{(li.price * li.units_sold).round(2)}" %> </td>
              </tr>
              <% end %>
          </tbody>
            

          </table>
          <p><b> Total Billed:</b> <%= "$" + " #{(@sales_order.sales_line_items.map {|item| item.units_sold * item.price }.reduce(:+))}" %> </p>
        </div>
    </div>
    <div class="col-xs-4">
    </div>
    <div class="row">
      <div class="col-xs-12">
        <br>
        <%= link_to "Print Receipt (PDF)", sales_order_path(@sales_order, format: "pdf"), class: "btn btn-default" %>
        <%= link_to "Email Receipt (PDF)", new_sales_order_mail_for_partner_path(sales_order_id: @sales_order.id), class: "btn btn-default" %>
      </div>    
    </div>
  </div>
</div>

