<!DOCTYPE html>
<html>
<head>
  <title>Inventorymgmt3</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag "http://www.google.com/jsapi", "chartkick" %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <%= csrf_meta_tags %>
</head>
<body>
  <div class = "container">
  <div class="container">
    <ul class="nav nav-tabs">
      <li> <%= link_to "Dashboard", root_path %></li>
      <li> <%= link_to "Stock & Inventory", "#" %></li>
      <li> <%= link_to "Sales Orders", "#" %> </li>
      <li> <%= link_to "Purchase Orders", "#" %> </li>
    </ul>
    <%= yield %>
  </div>
  </div>
</body>
</html>
