<!DOCTYPE html>
<html>
<head>
  <title>Inventorymgmt3</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag "http://www.google.com/jsapi", "chartkick" %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>

  <div class = "container">
  <div class="row">
    <ul class="nav nav-tabs">
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dashboard <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="/dashboard">Overall Analysis</a></li>
          <li><a href="/dashboard/investigate_inventory">By-SKU Analysis</a></li>
        </ul>
      </li>
      <li> <%= link_to "Relationships", relationships_path %></li>
      <li> <%= link_to "Stock & Inventory", product_descriptions_path %></li>
      <li> <%= link_to "Sales Orders", sales_orders_path %> </li>
      <li> <%= link_to "Purchase Orders", purchase_orders_path %> </li>
      <div class = "pull-right user-info">
        <% if current_user %> 
            Hello <%= current_user.email %>!
              <%= link_to edit_user_registration_path, class: 'btn btn-primary btn-sm' do %>
                <span class="glyphicon glyphicon-user"></span>
              <% end %>

              <%= link_to destroy_user_session_path, method: :delete, class: 'btn btn-primary btn-sm' do %>
                <span class="glyphicon glyphicon-log-out"></span>
              <% end %>
        <% else %>
              <%= link_to "Sign In", new_user_session_path %> or
              <%= link_to "Sign Up", new_user_registration_path %>
        <% end %> 
    </div>
    </ul>
    <%= yield %>
  </div>
  </div>
</body>
</html>
