<!DOCTYPE html>
<html>
<head>
  <title>Inventorymgmt3</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag "//www.google.com/jsapi" %>
  <%= javascript_include_tag "application", "chartkick" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class = "container">
  <div class="row">
    <ul class="nav nav-tabs">
      <li> <%= link_to "Dashboard", dashboard_path %></li>
      <li> <%= link_to "Relationships", relationships_path %></li>
      <li> <%= link_to "Stock & Inventory", product_descriptions_path %></li>
      <li> <%= link_to "Sales Orders", sales_orders_path %> </li>
      <li> <%= link_to "Purchase Orders", purchase_orders_path %> </li>
      <div class = "pull-right user-info">
        <% if current_user %> 
            Hello <%= current_user.email %>!
              <%= link_to edit_user_registration_path, class: 'btn btn-primary btn-sm' do %>
                <span class="glyphicon glyphicon-user"></span>
              <% end %>

              <%= link_to destroy_user_session_path, method: :delete, class: 'btn btn-primary btn-sm' do %>
                <span class="glyphicon glyphicon-log-out"></span>
              <% end %>
        <% else %>
              <%= link_to "Sign In", new_user_session_path %> or
              <%= link_to "Sign Up", new_user_registration_path %>
        <% end %> 
    </div>
    </ul>
    <%= yield %>
  </div>
  </div>
</body>
</html>
